<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="main.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script src="app.js"></script>
  </head>

<body ng-controller="weekController as week" >

<div id="weekForm">
    <div class="dayOfWeek" ng-repeat="day in week.meals">
      <h3>{{day.dayName}}</h3>
      <p id="mealBf">Breakfast</p>
       <select ng-model="day.bf" >
        <option ng-repeat="recipe in week.mealOptions">{{recipe.name}}</option>
    </select>
    <p id="mealLn">Lunch</p>
      <select ng-model="day.ln" >
        <option ng-repeat="recipe in week.mealOptions">{{recipe.name}}</option>
    </select>
    <p id="mealDn">Dinner</p>
       <select ng-model="day.dn" >
        <option ng-repeat="recipe in week.mealOptions">{{recipe.name}}</option>
    </select>
    <hr/>
    <p class="dayMeals">{{day.bf}}</p>
    <p class="dayMeals">{{day.ln}}</p>
    <p class="dayMeals">{{day.dn}}</p>
    </div>
</div>
<div ng-show="week.groceryList">
<h3 id="groceryHeader">Weekly Grocery List</h3>
<div id="groceryList" >
    <div ng-repeat="ingredient in week.groceryList track by $index">
        <p>{{(ingredient[0] + ingredient[1] + ingredient[2])}}</p>
    </div>
</div>
</div>

<button ng-click="week.updateList(week.meals)">Update List</button>

<div id="saveLoadContainer">

<div id="saveBlock">
<h3>Save Collection</h3>
<textarea class="resultBlock" rows="5" id="saveCode" placeholder="Save this recipe collection for next time."></textarea>
<button>Get Save Code</button>
</div>

<div id="loadBlock">
<h3>Load Collection</h3>
<textarea class="resultBlock"  rows="5" id="previousSave" placeholder="Load a previously saved recipe collection."></textarea>
<button >Load Save Code</button>

</div>
    </div>
</body>

</html>
