*{
    outline: none;
}

#weekForm{
    display: table;
    width: 100%;
    padding: 1rem;
        border-spacing: 1rem;

}

.dayOfWeek{
    text-align: center;
    width: 11%;
    display: table-cell;
    box-shadow: 0px 1px 3px #494949;
    color: #fff;
    background: rgba(77,188,142,1);
background: -moz-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,188,142,1)), color-stop(22%, rgba(51,171,135,1)), color-stop(65%, rgba(0,138,120,1)));
background: -webkit-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: -o-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: -ms-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: linear-gradient(to bottom, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbc8e', endColorstr='#008a78', GradientType=0 );
}

p#mealBf, p#mealLn, p#mealDn {
    margin-bottom: 0rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.dayOfWeek select{
    margin-bottom: 1rem;
    color: #00564b;
    height: 2.6rem;
}

.dayOfWeek option{
    color: black;
}

.dayOfWeek h3{
    letter-spacing: 1px;
}

.dayMeals{
    font-style: italic;
}

#groceryList{
    border: 4px solid rgba(77,188,142,1);
    text-align: center;
    column-count: 4;
    column-rule: 2px solid rgba(77,188,142,1);
    column-gap: 20px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0px 1px 3px #494949;
    }
/* button{
    text-align: center;
    padding: 1rem;
    width: 25%;
    font-size: 2rem;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,188,142,1)), color-stop(22%, rgba(51,171,135,1)), color-stop(65%, rgba(0,138,120,1)));
background: -webkit-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: -o-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: -ms-linear-gradient(top, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
background: linear-gradient(to bottom, rgba(77,188,142,1) 0%, rgba(51,171,135,1) 22%, rgba(0,138,120,1) 65%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbc8e', endColorstr='#008a78', GradientType=0 );

}
*/
body{
    text-align: center;
}

#groceryHeader{
    color: rgba(0,138,120,1);
}

#saveLoadContainer{
    display: table;
    width: 100%;
    padding: 1rem;
    border-spacing: 1rem;
    margin-top: -3em;
}
#saveLoadContainer button{
    width: 50%;
}
#saveBlock, #loadBlock{
    display: table-cell;
    width: 48%;
}

textarea{
    width: 100%;
    margin-bottom: 1em;
border: 2px solid rgba(77,188,142,1);}

#showLoad, #groceryBtn, #loadBtn{
    color: rgba(51,171,135,1);
    padding: 1rem;
    width: 15vw !important;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    border: none;
}

#showLoad:hover, #groceryBtn:hover, #loadBtn:hover{
    color: #55d19d;
}
#showLoad:active, #groceryBtn:active, #loadBtn:active{
    
    color: rgba(0,138,120,1);
    box-shadow: inset 0px 1px 3px #ccc;
    background-color: #f7f7f7;
    
}